Ejemplo-01/Ejemplo-01-mejorado.json
{
  "name": "Ejemplo-01-mejorado",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -496,
        -80
      ],
      "id": "6f845168-1ae5-4324-9626-95d8197f7df8",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1NmXu4PWpkkzLt4Z2Itny1Njj0EioqZvAAgJNmNm2ZRc",
          "mode": "list",
          "cachedResultName": "data-n8n-ejemplo-01",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NmXu4PWpkkzLt4Z2Itny1Njj0EioqZvAAgJNmNm2ZRc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NmXu4PWpkkzLt4Z2Itny1Njj0EioqZvAAgJNmNm2ZRc/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -288,
        -80
      ],
      "id": "04254b48-cc96-40a9-8f3c-7e0cc3f560ae",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "oAqxhpDhep8VOdPH",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "1996d9aa-6ee8-4b6a-89d7-da782e624c42",
              "leftValue": "={{ $json.Enviado }}",
              "rightValue": "no",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -80,
        -80
      ],
      "id": "6c065715-d76e-41c7-8987-6c823565b8df",
      "name": "If"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.Correo }}",
        "subject": "=Bienvenid@  {{ $json.Nombre }}",
        "emailType": "text",
        "message": "=Bienvenido a nuestra empresa D/Dña {{ $json.Nombre }} con el cargo de {{ $json.Tipo }}\n\nUn saludo",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        208,
        -96
      ],
      "id": "f021205d-6f54-40a4-a42a-28c2a8269b05",
      "name": "Send a message",
      "webhookId": "942ef1c2-5872-47b0-abd4-3027f69d0992",
      "credentials": {
        "gmailOAuth2": {
          "id": "4XkVhsn7mtyywvzP",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1NmXu4PWpkkzLt4Z2Itny1Njj0EioqZvAAgJNmNm2ZRc",
          "mode": "list",
          "cachedResultName": "data-n8n-ejemplo-01",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NmXu4PWpkkzLt4Z2Itny1Njj0EioqZvAAgJNmNm2ZRc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NmXu4PWpkkzLt4Z2Itny1Njj0EioqZvAAgJNmNm2ZRc/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Nombre": "={{ $('Get row(s) in sheet').item.json.Nombre }}",
            "Correo": "={{ $('Get row(s) in sheet').item.json.Correo }}",
            "Tipo": "={{ $('Get row(s) in sheet').item.json.Tipo }}",
            "Enviado": "=si",
            "ID": "={{ $('Get row(s) in sheet').item.json.ID }}"
          },
          "matchingColumns": [
            "ID"
          ],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Nombre",
              "displayName": "Nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Correo",
              "displayName": "Correo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Tipo",
              "displayName": "Tipo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Enviado",
              "displayName": "Enviado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        448,
        -96
      ],
      "id": "230cadb9-20e2-4246-b3c0-c81604f4d799",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "oAqxhpDhep8VOdPH",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "64b7c704-89d1-4bbf-87a1-48aa4d3f79c6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d806d242c66db59978919f4af92ff2515d982c2819084b1177f265850b9d9464"
  },
  "id": "D1d9eVkSFMSZicFaF4v-r",
  "tags": []
}